# Example
global: 
    labels: some
    branch: develop
    tag: 0.1.1
jobs_mr:
    - project:
        path: caulax/haproxy
        title: TEST
        source_branch: develop
        target_branch: master
    # - project:
    #     path: caulax/spring-learn
    #     title: TEST
    #     source_branch: develop
    #     target_branch: master



